[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A suite of polyfills supporting the HTML Web Components specs
[access "refs/*"]
	owner = group user/theipple
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/theipple
	label-Verified = -1..+1 group user/theipple
	push = group user/theipple
	read = group user/theipple
	rebase = group user/theipple
	removeReviewer = group user/theipple
	submit = group user/theipple
[access "refs/heads/*"]
	create = group user/theipple
	push = +force group user/theipple
	pushMerge = group user/theipple
	read = group user/theipple
[access "refs/tags/*"]
	push = group user/theipple
	push = +force group user/theipple
